.container {
    height: 6.25rem;
    width: 100%;
    padding: 0 50px;
    background-color: #2B292A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 90;
    top: 0;
}

.item {
    flex: 1;
    display: flex;
    align-items: center;
}

.item:nth-child(2) {
    flex: 3;
    align-items: center;
    justify-content: center;
}

.item:last-child {
    justify-content: flex-end;
}

.logo {
    border: 4px dashed #ffffff;
    border-radius: 50%;
}

.callButton {
    background-color: #ffffff;
    border-radius: 50%;
    padding: 10px;    
    width: 50px;
    height: 50px;
}



.texts {
    margin: 0 0 0 20px;
    color: #ffffff;
}

.text:first-child {
    font-size: 12px;
    font-weight: 500;
}

.text:last-child {
    font-size: 20px;
    font-weight: bold;
}

.list {
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    color: #ffffff;
}

.listItem {
    margin: 20px;
    font-weight: 500;
}

.cart {
    position: relative;
}

.counter {
    position: relative;
    top: -12px;
    right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #D92916;
}

@media screen and (max-width:1100px) {

    .text:last-child {
        font-size: 14px;
    }


}


@media screen and (max-width:925px) {

    .listItem {
        margin: 10px;
    }
}

@media screen and (max-width:768px) {
    .list img {
        display: inline !important;
    }

    .item:nth-child(2) {
        flex: 1;
    }

    .listItem {
        display: none;
    }
}

@media screen and (max-width:480px) {
    .item:nth-child(2) {
        display: none;
    }
    .item:nth-child(1) {
        flex: 3;
    }
}

@media screen and (max-width:375px) {
    .container {
        padding: 0 20px;
    }
}