.container {
    width: 22%;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    z-index: 10;
    cursor: pointer;
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: #D82815;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #2B292A;

}

.description {
    text-align: center;
    color: #2B292A;
}

@media screen and (max-width: 480px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 50%;
    }
}